.popup {
    position: fixed;
    background-color: rgba(82, 82, 82, 0.781);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    section.popup_content {
        background-color: rgba(75, 89, 34, 0.753);
        border: 2px solid var(--couleur-accent);
        width: 500px;
        padding: 16px;
        text-align: center;
        margin: 200px auto;
        position: relative;

        a {
            background-color: var(--couleur-accent);
            border-radius: 5px;
            color: var(--couleur-principale);
            display: block;
            margin-top: 12px;
            padding: 10px;
            text-transform: uppercase;

            &:hover {
                background-color: var(--couleur-principale);
                color: var(--couleur-accent);
            }

            &.fermer {
                background-color: var(--couleur-accent);
                display: block;
                padding: 10px 16px;
                position: absolute;
                top: -30px;
                right: -20px;
                border-radius: 50%;

                &:hover {
                    background-color: var(--couleur-principale);
                }
            }

        }

        h2::after {
            content: "";
            display: block;
            width: 100px;
            background-color: var(--couleur-principale);
            height: 3px;
            margin: 10px auto 0;
        }
    }
}