:root {
  --couleur-principale: #26291b;
  --couleur-secondaire: #4B5922;
  --couleur-accent: #AFB963;
  --couleur-fond: #eeeeee;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--couleur-fond);
}

div.interface {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  line-height: 1;
}

h1 {
  font-size: 48px;
}

h2 {
  margin-bottom: 16px;
  text-align: center;
  color: var(--couleur-accent);
}

h3 {
  color: var(--couleur-secondaire);
}

p {
  margin-top: 12px;
}

a {
  text-decoration: none;
  color: var(--couleur-accent);
}
a.bouton_vert {
  display: inline-block;
  padding: 16px;
  background-color: var(--couleur-accent);
  color: var(--couleur-secondaire);
  border-radius: 10px;
  margin-top: 12px;
}
a.bouton_vert:hover {
  color: var(--couleur-accent);
  background-color: var(--couleur-principale);
}

nav ul {
  list-style-type: none;
}
nav.secondaire {
  background-color: var(--couleur-secondaire);
}
nav.secondaire a {
  display: block;
  padding: 12px;
}
nav.secondaire a:hover {
  background-color: var(--couleur-principale);
}
nav.secondaire ul {
  display: flex;
  justify-content: flex-end;
}
nav.principal a {
  display: block;
  padding: 12px;
}
nav.secondaire a.vert_pale, nav.principal a:hover {
  background-color: var(--couleur-accent);
  color: var(--couleur-secondaire);
}

section.logo_menu > nav.principal {
  margin-left: auto;
}
section.logo_menu > nav.principal ul {
  display: flex;
}

header.header_page {
  background-position: bottom;
  background-image: url("../img/header_background.jpg");
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 80px;
  color: #ffffff;
}
header.header_page h3 {
  color: var(--couleur-accent);
}

section.logo_menu {
  display: flex;
  align-items: flex-end;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
}

footer {
  display: flex;
  padding: 80px;
}
footer section:last-child {
  margin-left: auto;
}
footer section.nous_joindre {
  margin-right: 18px;
}

main > section {
  padding: 80px;
}

section#services {
  display: flex;
  padding: 48px;
}
section#services h2 {
  text-align: left;
  margin-top: 36px;
}
section#services section {
  margin-right: 48px;
}

section#entreprise {
  text-align: center;
  background-color: var(--couleur-secondaire);
  padding: 80px;
}
section#entreprise h2 {
  margin-bottom: 48px;
  margin-top: 0;
}

section#trucs_pros {
  padding: 80px;
}
section#trucs_pros h3 + p {
  margin-top: 0;
  font-size: 12px;
}
section#trucs_pros > div {
  display: flex;
}
section#trucs_pros > div > article {
  flex-grow: 1;
  flex-shrink: 1;
  width: 30%;
  margin: 0 10px 0 10px;
}
section#trucs_pros article > div {
  overflow: hidden;
}
section#trucs_pros > img {
  display: block;
  width: 100%;
  height: auto;
}

section#production_plants {
  background-size: cover;
  background-image: url("../img/employee_serres.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 100px;
}
section#production_plants p {
  background-color: var(--couleur-accent);
  width: 400px;
  color: #ffffff;
  padding: 24px;
  font-size: 32px;
}

section#commentaires_clients {
  background-image: url("../img/commentaires_clients_bg.jpg");
  padding: 80px;
}

section#horaire {
  padding: 80px;
}
section#horaire table {
  border: 3px solid var(--couleur-secondaire);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-spacing: 3px;
}
section#horaire th {
  background-color: var(--couleur-accent);
  color: white;
  padding: 12px;
}
section#horaire td {
  border: 1px solid var(--couleur-secondaire);
  padding: 12px;
}